h1 {
    font-family: Overpass;
    font-weight: 700;
    font-size: 54px;
    margin: 0 0 20px 0;
    line-height: 68px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

h2 {
    font-family: Crimson Text;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    margin: 0;
}

h3 {
    font-family: Overpass;
    font-weight: 700;
}

h4 {
    font-family: Crimson Text;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin: 0;
}

h5 {
    font-family: Overpass;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 20px 0;
}

h6 {
    font-family: Overpass;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

p {
    font-family: Crimson Text;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 20px 0;
}

a {
    font-family: Overpass;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

span {
    color: #9B9B9B;
}

strong {
    font-family: Overpass;
    font-weight: 700;
    font-size: 80px;
}

@media screen and (max-width: 400px) {
    strong {
        font-size: 60px;
    }
}

